<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
<listeners>
	<listener class-name="utils.Listners" />
</listeners>

  <test name="test1">
    <classes>
    <class name="testcases.TestCase1_GetRequest"/>
    <class name="testcases.TestCase2_GetSingleEmpDetails"/>
    <class name="testcases.TestCase3_CreateEmployeeRecord"/>
    <class name="testcases.TestCase4_UpdateEmployeeRecord"/>
    <class name="testcases.TestCase5_DeleteEmployeeRecord"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->